<% if @valid_token.blank? %>
  $( "<div class='alert alert-danger fade in'><button class='close' data-dismiss='alert'>x</button>Invalid token.</div>" ).insertAfter( "#discount_coupons_coupon_number" );
<% else %>
  "<% discount_price = cookies['total_price'].to_f - cookies['total_price'].to_f * cookies['discount_percentage'].to_f %>"
  $('#discount-price').text("<%= number_to_currency(discount_price).to_s %>");
  $('#discount_form').remove();
  $( "<div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>x</button><%= @valid_token.discount_percentage %>% Discount has been added</div>" ).insertAfter(".cart-total");
<% end %>
